<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <p-listbox [options]="players" [(ngModel)]="selectedPlayer"></p-listbox>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-8">
            <h3>Spiller</h3>
            <p>{{ selectedPlayer.name }}
          </div>
          <div class="col-sm-4">
            <h3>Målpoeng</h3>
            <span class="text-center"><h4 class="label label-success">{{ selectedPlayer.goalPoints }}</h4></span>
          </div>
        </div>
        <div class="row">
          <h3>Åttendedelsfinale</h3>
          <div *ngIf="selectedPlayer !== undefined && selectedPlayer.per16Countries !== undefined">
            <div class="col-md-6" *ngFor="let country of getKeys(selectedPlayer.per16Countries)" [ngClass]="selectedPlayer.per16Countries[country]?'label label-success':'label label-danger'">
               <label>{{ country }}</label>
               <span *ngIf="selectedPlayer.per16Countries[country]" class="glyphicon glyphicon-ok"></span>
               <span *ngIf="!selectedPlayer.per16Countries[country]" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>Kvartfinale</h3>
          <div *ngIf="selectedPlayer !== undefined && selectedPlayer.per8Countries !== undefined">
            <div class="col-md-6" *ngFor="let country of getKeys(selectedPlayer.per8Countries)" [ngClass]="selectedPlayer.per16Countries[country]?'label label-success':'label label-danger'">
               <label>{{ country }}</label>
               <span *ngIf="selectedPlayer.per8Countries[country]" class="glyphicon glyphicon-ok"></span>
               <span *ngIf="!selectedPlayer.per8Countries[country]" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>Semifinale</h3>
          <div *ngIf="selectedPlayer !== undefined && selectedPlayer.per4Countries !== undefined">
            <div class="col-md-6" *ngFor="let country of getKeys(selectedPlayer.per4Countries)" [ngClass]="selectedPlayer.per16Countries[country]?'label label-success':'label label-danger'">
               <label>{{ country }}</label>
               <span *ngIf="selectedPlayer.per4Countries[country]" class="glyphicon glyphicon-ok"></span>
               <span *ngIf="!selectedPlayer.per4Countries[country]" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>Finale</h3>
          <div *ngIf="selectedPlayer !== undefined && selectedPlayer.per2Countries !== undefined">
            <div class="col-md-6" *ngFor="let country of getKeys(selectedPlayer.per2Countries)" [ngClass]="selectedPlayer.per16Countries[country]?'label label-success':'label label-danger'">
               <label>{{ country }}</label>
               <span *ngIf="selectedPlayer.per2Countries[country]" class="glyphicon glyphicon-ok"></span>
               <span *ngIf="!selectedPlayer.per2Countries[country]" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <h3>Vinner</h3>
          <div *ngIf="selectedPlayer !== undefined && selectedPlayer.per1Countries !== undefined">
            <div class="col-md-6" *ngFor="let country of getKeys(selectedPlayer.per1Countries)" [ngClass]="selectedPlayer.per16Countries[country]?'label label-success':'label label-danger'">
               <label>{{ country }}</label>
               <span *ngIf="selectedPlayer.per1Countries[country]" class="glyphicon glyphicon-ok"></span>
               <span *ngIf="!selectedPlayer.per1Countries[country]" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
